<div class="container-fluid p-3">

  <!-- Header -->
  <div class="d-flex flex-wrap gap-2 justify-content-between align-items-center mb-3">
    <h4 class="mb-0">Mini Admin Dashboard</h4>
     <!-- <button
  class="btn btn-outline-secondary btn-sm"
  (click)="toggleTheme()">
  {{ isDarkMode ? 'Light Mode' : 'Dark Mode' }}
</button> -->
    <div class="d-flex gap-2">
      <button class="btn btn-outline-primary btn-sm"
              (click)="toggleView('table')">
        Table
      </button>

      <button class="btn btn-outline-primary btn-sm"
              (click)="toggleView('card')">
        Card
      </button>
    </div>
  </div>

  <!-- Filters -->
  <div class="row g-2 mb-3">
    <div class="col-md-4">
      <input
        type="text"
        class="form-control"
        placeholder="Search name or email"
        [(ngModel)]="searchText"
        (input)="applyFilter()" />
    </div>

    <div class="col-md-3">
      <select class="form-select"
              [(ngModel)]="selectedStatus"
              (change)="applyFilter()">
        <option value="All">All Status</option>
        <option value="Active">Active</option>
        <option value="Inactive">Inactive</option>
      </select>
    </div>
  </div>

  <!-- TABLE VIEW -->
  <div *ngIf="viewType === 'table'" class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead class="table-light">
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Role</th>
          <th>Status</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let user of filteredUsers">
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.role }}</td>
          <td>
            <span class="badge"
                  [ngClass]="user.status === 'Active'
                    ? 'bg-success'
                    : 'bg-secondary'">
              {{ user.status }}
            </span>
          </td>
        </tr>

        <tr *ngIf="filteredUsers.length === 0">
          <td colspan="4" class="text-center text-muted">
            No records found
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- CARD VIEW -->
  <div *ngIf="viewType === 'card'" class="row g-3">
    <div class="col-lg-3 col-md-4 col-sm-6"
         *ngFor="let user of filteredUsers">
      <div class="card h-100 shadow-sm">
        <div class="card-body">
          <h6 class="fw-bold">{{ user.name }}</h6>
          <p class="mb-1">{{ user.email }}</p>
          <small class="text-muted">{{ user.role }}</small>

          <div class="mt-2">
            <span class="badge"
                  [ngClass]="user.status === 'Active'
                    ? 'bg-success'
                    : 'bg-secondary'">
              {{ user.status }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
